<p id="notice"><%= notice %></p>

<div style = 'text-align: center'>
  <%# <strong>Title:</strong> %>
  <%= @post.title %>
</div>

<div>
  <strong>Author:</strong>
  <%=@post.author %>
</div>

<div style="margin-left : 250px; margin-top: 50px">
  <%= image_tag @post.image_url , style: 'height:300px; width:800px'%>
</div>



<div style= 'margin-top: 50px'>
  <div>Content:</div>
  <div class="content">
  <%= @post.content %>
  </div>
</div>


<div style='margin-top:50px'>

<%= link_to 'Edit', edit_post_path(@post) , class: 'btn btn-primary' %> 
<%= link_to 'Back', posts_path , class: 'btn btn-primary' , style: 'float: right'%>

</div>

<style>
div{
  margin-top: 50px;
  
}
.content{
  margin-top: 30px;
  margin-left: 50px;
}
</style>
